@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(red, green, blue)
}

.main {
    padding: 20px 20px 20px;
    background-color: white;
    border-radius: 10px;
    max-width: 300px;
    width: 100%;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.input {
    /* pointer-events: none;     */
    height: 80px;
    width: 100%;
    font-size: 30px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    text-align: right;
}

.input:hover {
    transform: scale(0.97);
    background-color: aliceblue;
    width: 100%;
}

.buttons button {
    padding: 10px;
    border: none;
    cursor: pointer;
    /* box-shadow: 0.5px 0.5px 0.5px 0.5px; */
    font-size: 18px;
    background-color: transparent;
    font-weight: bolder;
    box-shadow: 0.05px 0.02px 0.25px 0.25px;
}

.buttons button:active {
    transform: scale(0.97);
}

.operateurs {
    color: #2f9fff;
}