* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(green, grey, red);
}

.container {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
}

#input {
    padding: 20px;
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 20px;
    text-align: right;
}

.buttons {
    margin-top: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    font-weight: 36px;
}

button {
    padding: 10px;
    font-size: 18px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.buttons button:hover {
    background-color: rgb(236, 223, 223);
    border-radius: 10px;
}

.buttons button:active {
    background-color: rgb(189, 134, 134);
    border-radius: 10px;
    transform: scale(0.8);
        transition: all ease;
}